<div *ngIf="playerState | async as player" class="player">
    <div class="action-buttons">
        <button class="btn" (click)="skipPrev()">
            <mat-icon>skip_previous</mat-icon>
        </button>
        <button class="btn" (click)="togglePlay()">
            <mat-icon *ngIf="player.paused">play_circle_outline</mat-icon>
            <mat-icon *ngIf="!player.paused">pause_circle_outline</mat-icon>
        </button>
        <button class="btn" (click)="skipPrev()">
            <mat-icon>skip_next</mat-icon>
        </button>
    </div>
    <mat-slider min="0" max="1" step="0.1" value="0.5"></mat-slider>
</div>