.player{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    height: 100px;
    background-color: #2c2f31;

    display: flex;
    justify-content: center;
    align-items: center;

    .btn{
        background-color: transparent;
        border: none;
        color: #fff;
        display: flex;
    }

    .action-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 250px;
        width: 100%;
    }

    .song-info{
        display: flex;

        .album-image{
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 5px;
            display: block;
        }

        .album-artist{
            display: flex;
            flex-direction: column;
        }
    }
}