# Compiled output
/dist

# Node
/node_modules
npm-debug.log

# Visual Studio Code
.vscode/*

# Angular
/.angular/cache

# file with auth data for e2e tests
e2e/authData.ts

# tests
/test-results/
/playwright-report/
/playwright/.cache/
