@import './colors.scss';

@mixin btn($background-color, $border-color, $hover-backgorund, $hover-backgorund-opacity: 0.9) {
    color: $text;
    background-color: $background-color;
    border: 2px solid $border-color;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    transition: background-color 0.2s;
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
  
    .ripple {
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      transform: scale(0);
      background-color: rgba(255, 255, 255, 0.7);
    }
  
    svg {
      width: 18px;
      height: 18px;
    }
  
    &:hover {
      background-color: rgba($hover-backgorund, $hover-backgorund-opacity);
      border-color: none
    }
  }
  
  .btn {
    @include btn($primary, $primary, $primary);
  }
  
  .btn-text {
    @include btn(transparent, transparent, rgba(0, 0, 0), 0.2);
  }
  
  .btn-opacity {
    background-color: rgba($primary, 0.5);
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    position: relative;
    cursor: pointer;
  }