<div class="app">
  <ng-container *ngIf="loggedIn() === false">
    <div class="app-login">
      <div class="app-login__title-wrapper">
        <app-icon class="icon--large" type="logo"></app-icon>
        <h1 class="app-login__title">Spotrx</h1>
      </div>
      <p class="app-login__text">To use app you must log in</p>
      <button class="app-login__button btn" (click)="login()">login</button>
    </div>
  </ng-container>

  <ng-container *ngIf="loggedIn() === true">
    <app-nav [userData]="userData" [open]="menuOpen()" (toggleMenu)="menuOpen.set($event)"></app-nav>
    <button class="app-menu-button btn" type="button" (click)="toggleMenu()">
      <app-icon class="icon" type="menu"></app-icon>
    </button>
    <div class="main" [ngClass]="{
  'main--player': playerState | async }">
      <router-outlet></router-outlet>
    </div>
    <app-player></app-player>
  </ng-container>
  <angular-query-devtools *ngIf="!isProductionMode" initialIsOpen />
</div>