.app {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    overflow: hidden;

    .main {
        margin-left: 220px;
        margin-bottom: 140px;
        width: 100%;
        overflow-y: scroll;
        background-color: #35393c;
        padding-top: 25px;
    }
}