<div class="playlist">
  @if(playlistInfo.isSuccess()){
  <h1 class="title">{{playlistInfo.data().name}}</h1>
  }
  @if(playlistInfo.isLoading()){
  <div class="title">
    <ngx-skeleton-loader class="artist-skeleton" animation="progress-dark" count="1"
      [theme]="{ height: '32px', width: '200px', 'background-color': '#2c2f31' }"></ngx-skeleton-loader>
  </div>
  }
  <app-track-list class="track-list" (getNextPage)="getNextPage($event)" [total]="playlistInfo.data()?.tracks?.total"
    [tracksListQuery]="tracksQuery">
  </app-track-list>
</div>