.app-dialog-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.app-dialog {
  max-width: 824px;
  width: 100%;
  border-radius: 12px;
  background-color: #35393c;
  padding: 16px;
}

.app-dialog__close-button {
  font-size: 24px;
}

.app-dialog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 8px 0;
}

.app-dialog__footer {
  padding: 16px 0;
}